{% extends 'trade_tab_view.html' %}
{% load ncaa_tags %}

{% block title %}{{ entry.entry_name }}{% endblock title %}

{% block page_header %}
<h2>{{ entry.entry_name }}</h2>
Score: {{ entry.score }}<br/>
{% endblock page_header %}

{% block main_tab %}
<div id='holdings' class='well span4'>
    <h3>Holdings</h3>
    <table class='table table-bordered table-striped table-condensed'>
        <tr><td>Shares</td><td>Team</td><td>Points/Share</td><td>Total Points</td></tr>
        {% for team, shares, team_points in teams %}
            <tr>
            <td>{{ shares }}</td>
            <td>{% team_link team.team entry.game %}</td>
            <td>{{ team.score }}</td>
            <td>{{ team_points }}</td>
            </tr>
        {% endfor %}
        <tr><td></td><td><b>Total</b></td><td></td><td>{{ entry.score }}</td></tr>
    </table>
</div>
{% endblock main_tab %}

{% block card_tab %}
    <div id='trading_block' class='well span4 offset1'>
        <h3>Trading Block</h3><br/>
        <h4>Wanted</h4>
        <div class='well'>
            {% with wanted_teams=entry.trading_block.game_teams_desired.all %}
                {% if wanted_teams %}
                    {% for team in wanted_teams %}
                        {% team_link team.team entry.game %}<br/>
                    {% endfor %}
                {% else %}
                    <em>None</em><br/>
                {% endif %}
            {% endwith %}
        </div>
        <h4>Available</h4><br/>
        <div class='well'>
            {% with available_teams=entry.trading_block.game_teams_available.all %}
                {% if available_teams %}
                    {% for team in available_teams %}
                        {% team_link team.team entry.game %}<br/>
                    {% endfor %}
                {% else %}
                    <em>None</em><br/>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock card_tab %}

{% block stock_tab %}
    {% order_table stock_orders %}
{% endblock stock_tab %}
