{% extends 'game_base.html' %}
{% load ncaa_tags %}

{% block title %}{{ entry.entry_name }}{% endblock title %}

{% block game_body %}
<h2>{{ entry.entry_name }}</h2>
Score: {{ entry.score }}<br/>

<br/><br/><table cellpadding='20'><tr>
<td><div id='holdings'>
<h3>Holdings:</h3><br/>
<table class='table table-bordered table-striped table-condensed'>
<tr><td>Shares</td><td>Team</td><td>Points/Share</td><td>Total Points</td></tr>
{% for team, shares, team_points in teams %}
    <tr>
    <td>{{ shares }}</td>
    <td>{% team_link team.team entry.game %}</td>
    <td>{{ team.score }}</td>
    <td>{{ team_points }}</td>
    </tr>
{% endfor %}
<tr><td></td><td><b>Total</b></td><td></td><td>{{ entry.score }}</td></tr>
</table>
</div></td>


<td><div id='trading_block'>
<h3>Trading Block</h3><br/>
<h4>Wanted</h4><br/>
{% with wanted_teams=entry.trading_block.game_teams_desired.all %}
    {% if wanted_teams %}
        {% for team in wanted_teams %}
            {% team_link team.team entry.game %}<br/>
        {% endfor %}
    {% else %}
        <em>None</em><br/>
    {% endif %}
{% endwith %}
<h4>Available</h4><br/>
{% with available_teams=entry.trading_block.game_teams_available.all %}
    {% if available_teams %}
        {% for team in available_teams %}
            {% team_link team.team entry.game %}<br/>
        {% endfor %}
    {% else %}
        <em>None</em><br/>
    {% endif %}
{% endwith %}
</div></td>

</tr></table>

{% endblock game_body %}
