{% extends 'trade_tab_view.html' %}
{% load ncaa_tags %}

{% block title %}{{ game.name }}{% endblock title %}

{% block page_header %}
    <h2>{{ game.name }}</h2>
{% endblock page_header %}

{% block main_tab %}
    {% if self_entry %}
        {% leaderboard leaders %}<br/>
    {% endif %}

    <div class='row'>
        <div id='game_settings' class='well span4'>
            Game Settings:<br/>
            Game Type = {{ game.game_type.name }}<br/>
            Trading Types = {{ game.trade_type_string }}<br/>
            Starting Points = 
            {% if game.starting_points %}{{ game.starting_points }}{% else %}Disabled{% endif %}<br/>
            Starting Shares = {{ game.starting_shares }}<br/>
        </div><br/>
    </div>

    {% if not self_entry %}
        <div class='well span4'>
            {% if error %}
                <div class='span3 alert alert-error'>
                    <a class='close' data-dismiss='alert' >x</a>
                    {{ error }}
                </div>
            {% endif %}
            <form method='POST' action='/ncaa/join_game/'>{% csrf_token %}
                Entry Name: <input type='text' name='entry_name'> 
                {% if game.password %}
                <br/>Password: <input type='password' name='password'> 
                {% endif %}
                <input type='hidden' name='game_id' value='{{game.id}}'>
                <input type='submit' value='Join Game'>
            </form>
        </div>
    {% endif %}
{% endblock main_tab %}
