{% extends 'game_base.html' %}
{% load ncaa_tags %}

{% block title %}{{ game.name }}{% endblock title %}

{% block game_body %}
<h2>{{ game.name }}</h2>

{% if is_member %}
<div id='leaderboard'>
<strong>Leaderboard</strong><br/>
{% leaderboard leaders %}
</div>
<br/><br/>

<div id='marketplace'>
<strong><a href='marketplace/'>Marketplace</a></strong><br/>
</div>
{% endif %}

<div id='game_settings'>
Game Settings:<br/>
Starting Points = 
{% if game.starting_points %}{{ game.starting_points }}{% else %}Disabled{% endif %}<br/>
Starting Shares = {{ game.starting_shares }}<br/>
</div><br/>

{% if not is_member %}
    <form method='POST' action='/ncaa/join_game/'>{% csrf_token %}
        <input type='hidden' value='{{game.id}}'>
        <input type='submit' value='Join Game'>
    </form>
{% endif %}

{% endblock game_body %}
