{# This assumes that the bootstrap static files are included in the calling template #}
{% load ncaa_tags %}

<table class='table table-bordered table-striped table-condensed'>
<tr><td colspan='2'>Offering</td><td colspan='2'>Asking</td></tr>
{% for bid, ask in rows %}
    <tr>
    {% if bid %}
        {% if bid.team %} {# Hacky way of checking whether this is a team or flat points #}
            <td>{% team_link bid.team.team bid.team.game %}</td><td>{{ bid.count }}</td>
        {% else %}
            <td>Points</td><td>{{ bid }}</td>
        {% endif %}
    {% else %}
        <td colspan='2'></td>
    {% endif %}
    {% if ask %}
        {% if ask.team %} {# Hacky way of checking whether this is a team or flat points #}
            <td>{% team_link ask.team.team ask.team.game %}</td><td>{{ ask.count }}</td>
        {% else %}
            <td>Points</td><td>{{ ask }}</td>
        {% endif %}
    {% else %}
        <td colspan='2'></td>
    {% endif %}
    </tr>
{% endfor %}
<tr/><tr><td>Total</td><td>{{ bid_total }}</td><td>Total</td><td>{{ ask_total }}</td></tr>
</table><br/>

{% if can_claim %}
<form method='POST' action='/ncaa/game/{{offer.entry.game.id}}/offer/{{offer.id}}/accept/'>
{% csrf_token %}
<input type='submit' value='Accept Trade'>
</form>
{% endif %}
