<table border='1'>
<tr><td colspan='2'>Offering</td><td colspan='2'>Asking</td></tr>
{% for bid, ask in rows %}
    <tr>
    {% if bid %}
        {% if bid.team %} {# Hacky way of checking whether this is a team or flat points #}
            <td>{{ bid.team.team.abbrev_name }}</td><td>{{ bid.count }}</td>
        {% else %}
            <td>Points</td><td>{{ bid }}</td>
        {% endif %}
    {% else %}
        <td colspan='2'></td>
    {% endif %}
    {% if ask %}
        {% if ask.team %} {# Hacky way of checking whether this is a team or flat points #}
            <td>{{ ask.team.team.abbrev_name }}</td><td>{{ ask.count }}</td>
        {% else %}
            <td>Points</td><td>{{ ask }}</td>
        {% endif %}
    {% else %}
        <td colspan='2'></td>
    {% endif %}
    </tr>
{% endfor %}
<tr/><tr><td>Total</td><td>{{ bid_total }}</td><td>Total</td><td>{{ ask_total }}</td></tr>
</table>
