{% load ncaa_tags %}

<table class='table table-bordered table-striped table-condensed sortable'>
    <thead><tr><td>Time</td><td>Team</td><td>Side</td><td>Quantity Remaining</td><td>Price</td><td class='sorttable_nosort'>Actions</td></tr></thead>
    {% for order in orders %}
        <tr>
            <td>{{ order.placed_time|date:'m/d/y H:i:s' }}</td>
            <td>{% team_link order.security.name game %}</td>
            <td>{{ order.side_name }}</td>
            <td>{{ order.quantity_remaining }}</td>
            <td>{{ order.price }}</td>
            <td>
                {% if self_entry.entry_name == order.placer and order.is_active and order.quantity_remaining > 0%}
                    {#<button class='btn'>Change Order</button>#}
                    <form class='cancelForm' method='POST' action='/ncaa/game/{{game.id}}/cancel_order/'>
                        {% csrf_token %}
                        <input type='hidden' name='order_id' value='{{ order.order_id }}'>
                        <button type='submit' class='btn btn-danger'>Cancel Order</button>
                    </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
