{% extends 'game_base.html' %}
{% load ncaa_tags %}

{% block title %}{{ game.name }} Team List{% endblock title %}

{% block game_scripts %}
    <script type='text/javascript' src='/static/sorttable.js/'></script>
    <script type='text/javascript'>
        function OnTradeResponse(data) {
            if (data.success)
                location.reload();
            else {
                var errorString = data.errors.join('\n');
                var field_errors = data.field_errors;
                for (var key in field_errors)
                    errorString += '\n' + field_errors[key];
                alert(errorString);
            }
        }

        function show_placer(team_name) {
            //$('#trade_title').html("<h4>Trade " + team_name + "</h4>");
            document.getElementById('team_id_field').value = team_name;
            $('#order_placer').modal();
        }

        $(document).ready(function() {
            var options = {
                dataType: 'json',
                success: OnTradeResponse
            };

            $('#tradeForm').ajaxForm(options);
        });
    </script>
{% endblock %}

{% block game_body %}
<table class='table table-bordered table-striped table-condensed sortable'>
    <thead><tr>
        <th>Team</th><th>Volume</th>
        {% if game.supports_stocks %}
            <th>Last</th><th>Bid</th><th>Ask</th><th class='sorttable_nosort'></th>
        {% endif %}
    </tr></thead>
    {% for team, security in rows %}
        <tr>
            <td>{% team_link team.team.abbrev_name game %} </td>
            <td>{{ team.volume }}</td>
            {% if game.supports_stocks %}
                <td>{{ security.get_last }}</td>
                <td>{{ security.get_bid }}</td>
                <td>{{ security.get_ask }}</td>
                <td><button class='btn btn-primary' onclick='show_placer("{{team.team.abbrev_name}}")'>Place Order</button></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

<div id='order_placer' class='modal hide fade' style='width:250px;'>
    <div class='modal-header'>
        <div id='trade_title'></div>
        <a class='close' data-dismiss='modal'>x</a>
    </div>
    <div class='modal-body'>
        {% trade_form game %}
    </div>
</div>

{% endblock game_body %}
